:root{
	--width: 163px;
	--lastBack: #FF8800;
	--ohtherBack: #DDD;
	--numberBack: #555555;



}

.box{
	padding: 10px;
	width: var(--width);
	height: 310px;
	border: 1px solid;
	background-color: black;
	border-radius: 5px;
	color: white;
}

.view{
	width: var(--width);
	height: 100px;   
	float: right;
}

.display{
	float: right;
	padding: 40px 5px 5px 5px;
	font-size: 45px;
}

.operation{
	clear: both;
	margin-top: 100px;
	width: var(--width);
	height: 190px;
}

.firstRow{	
	background-color: var(--ohtherBack);
	color: black;
}

.operator{
	background-color: var(--lastBack);
	color: inherit;
}

.double{
	width: 70px;
	border-radius: 15px;
	text-align: left;
	padding-left: 12px
}

button{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 2px;
	width: 30px;
	height: 30px;
	border-radius:  20px;
	border: none;
	text-align: center;
	color: inherit;
	background-color: var(--numberBack);
}

img{
	width: 14px;
	height: 15px;
	vertical-align: middle;
}

clickoperatior{
	background-color: white;
	color: #FF8800;
}



